.logo span{
	color:MediumAquamarine;
	padding:20px 10px;
}

.logo{
	display:flex;
	align-items:center;
	padding-left:30px;
	flex-grow:1;
}

header{
	font-family:Verdana;
	font-size:14px;
	font-weight:bold;
	display:flex;
	align-items:center;
	border-bottom:1px solid black;
	width:100%;
	height:80px;
}

nav span{
	display:inline-block;
	padding:20px 10px;
}

a{
	color:black;
}

.content{
	display:flex;
	font-family:Georgia;
	font-size:17px;
	color:black;
}

.column{
	display:flex;
	flex-direction:column;
	margin-right:30px;
}

.column.large{
	width:630px;
}

.column.medium{
	width:300px;
}

.column.small{
	width:240px;
}

.imagetext{
	font-family:Georgia;
	font-weight:bold;
	font-size:30px;
	color:white;
}

.wine.image-content{
	background-image: url("../img/wine.png");
}

.fall.image-content{
	background-image: url("../img/girl.png");
}

.camera.image-content{
	background-image: url("../img/photoman.png");
}

.cat.image-content{
	background-image: url("../img/cat.png");
}

.image-content{
	font-family:Georgia;
	font-weight:bold;
	color:white;
	font-size:30px;
	height:300px;
}